*{
   margin: 0;
   padding: 0;
   font-family: "12";
}
@font-face{
   
}
div{
   display: block;
}
.body{
   right: 0;
   float: right;
   width: ;
   height: 200px;
}
.sidebar{
   width: 320px;
   height: 100%;
   float: left;
   left: 0;
}
