*{
   margin: 0;
   padding: 0;
   font-family: "12";
}
@font-face{
   font-family: '12';
   src: url('BOD_BLAR_0.TTF'); /* IE9 Compat Modes */
}
.container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
body{
   background-image: url(windows-10-orange-stock.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.clock{
   width: 35rem;
   height: 35rem;
   background: rgba(225, 225, 225, 0.25);
   backdrop-filter: blur(4px);
   border-radius: 50%;
   border: 1px solid rgba(red, green, blue, 0.18);
   position: relative;
   box-shadow: rgba(0, 0, 0, 0.8) 0px 60px 40px -7px;
}
.numbers{
   width: inherit;
   height: inherit;
   position: relative;
}
.numbers div{
   position: absolute;
   font-size: 2.5rem;
   color: white;
}
.twelve{
   top: 1rem;
   left: 50%;
   transform: translateX(-50%);
}
.three{
   right: 1rem;
   top: 50%;
   transform: translateY(-50%);
}
.six{
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);
}
.nine{
   left: 1rem;
   top: 50%;
   transform: translateY(-50%);
}
.arrows{
   width: inherit;
   height: inherit;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.arrows::before{
   content: "";
   width: 2.5rem;
   height: 2.5rem;
   background-color: white;
   border-radius: 50%;
   box-shadow: 0.2rem 0.2rem 0.5rem #777;
   z-index: 10;
}
.arrows div{
   width: 0.7rem;
   height: 12rem;
   background-color: #fff0f5;
   position: absolute;
   bottom: 50%;
   box-shadow: 0.2rem 0.2rem 0.5rem #777;
   border-radius: 100% 100% 0 0;
   transform-origin: bottom center;
}
.arrows .hour{
   height: 10rem;
   transform: rotate(90deg);
}
.arrows .second{
   background-color: #eb6160;
   transform: rotate(270deg)
}
