*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  transition: 0.5s;
  transition-delay: 0.15s;
}
html{
  background: url('img/481543.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-zoom: 100%;
  max-zoom: 100%;
}
@font-face {
  font-family: GL;
  src: url(font/GLECB.TTF);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: DMSans-R;
  src: url(font/DMSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: DMSans-B;
  src: url(font/DMSans-Bold.ttf);
  font-style: normal;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #203036;
}
img{
  width: 100%;
  height: 100%;
}
.backgruond{
  display: block;
  width: 100%;
  position: relative;
}
form{
  display: block;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 5% 32.5%;
}
.info{
  background: linear-gradient(135deg, rgba(225,255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(225,255, 255, 0.18);
  border-radius: 5%;
  position: absolute;
  display: block;
  position: fixed;
  text-align: center;
  width: 35%;
  height: 80%;
}
.avatar{
  display: block;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}
.avatar img{
  width: 35%;
  height: 35%;
  border-radius: 50%;
}
.name h1{
  color: #203036;
  font-size: 36px;
  font-family: GL;
}
.location{
  color: #ddeaf0;
  font-family: DMSans-B;
}
.location span{
  display: block;
}
.button{
  text-decoration: none;
  width: 120px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  color: #000000;
  font-family: DMSans-B;
  padding: 15px 0;
}
.button:hover{
  box-shadow: 0px 0px 10px #203036;
}
:root{
  --background: #2c2c2c;
  --linkedin: #0077b5;
  --twitter: #000000;
  --email: #c5221f;
  --telegram: #2aa2d5;
  --eitaa: #f07c00;
  --discord: #5865f2;
}
.background{
  display: grid;
  place-items: center;
  padding: 10px;
}
.social-media-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.social-media-button{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}
.dokme{
  max-width: 48px;
  max-height: 48px;
}
.social-media-button:hover{
  outline-offset: 3px;
  transition: all 0.3s;
}
.social-media-button img{
  transition: all 0.3s;
  width: 35px;
  height: 35px;
}
.social-media-button:hover img{
  transform: scale(1.15);
}
.discord img{
  width: 40px;
  height: 40px;
}
.insta:hover{
  background: radial-gradient(
    circle at 30% 107%, #fdf497 0%,
    #fdf497 5%, #fd5949 45%,
    #d6249f 60%,#285aeb 90%
  );
}
.github:hover{
  background-color: var(--twitter);
}
.link:hover{
  background-color: var(--linkedin);
}
.email:hover{
  background-color: var(--email);
}
.X:hover{
  background-color: var(--twitter);
}
.tel:hover{
  background-color: var(--telegram);
}
.eitaa:hover{
  background-color: var(--eitaa);
}
.discord:hover{
  background-color: var(--discord);
}
@media(max-width: 1080px){
  .html{
    background-size: 100%;
    background-image: url(img/Untitled-1.png);
  }
  .form{
    padding: 5%;
  }
  .info{
    width: 90%;
    height: 95%;
    border-radius: 40px;
  }
  .button{
    width: 400px;
    height: 200px;
    font-size: 30px;
  }
  .mt{
    font-size: 30px;
  }
  .location{
    font-size: 35px;
  }
  .name h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  .name{
    margin-bottom: 100px;
  }
}