*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  transition: 0.5s;
  transition-delay: 0.15s;
}
html{
  background: url('img/363411.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-zoom: 100%;
  max-zoom: 100%;
}
@font-face {
  font-family: AdArSh;
  src: url(font/Adobe\ arabic\ shin.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: GL;
  src: url(font/GLECB.TTF);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: DMSans-R;
  src: url(font/DMSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: DMSans-B;
  src: url(font/DMSans-Bold.ttf);
  font-style: normal;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #203036;
}
div{
  text-align: center;
}
img{
  width: 100%;
  height: 100%;
}
.backgruond{
  display: block;
  width: 100%;
  position: relative;
}
form{
  display: block;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 5% 32.5%;
}
.info{
  background: linear-gradient(135deg, rgba(225,255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(225,255, 255, 0.18);
  border-radius: 5%;
  position: absolute;
  display: block;
  position: fixed;
  text-align: center;
  width: 35%;
  height: 80%;
}
a{
  text-decoration: none;
  text-align: center;
  width: 200px;
  height: 80px;
  margin: 10px;
  margin-top: 200px;
  display: inline-block;
  border-radius: 10px;
  color: #203036;
  font-family: GL;
  font-size: 28px;
  padding: 18px 0;
}
a:hover{
  box-shadow: 0px 0px 10px #203036;
}
.fa{
  font-family: AdArSh;
}
.en{
  padding: 24px 0;
}