*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  transition: 0.5s;
  transition-delay: 0.15s;
}
html{
  background: url('img/363411.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-zoom: 100%;
  max-zoom: 100%;
}
@font-face {
  font-family: AdArSh;
  src: url(font/Adobe\ arabic\ shin.ttf);
  font-style: normal;
  font-weight: 500;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #203036;
}
img{
  width: 100%;
  height: 100%;
}
.backgruond{
  display: block;
  width: 100%;
  position: relative;
}
form{
  display: block;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 5% 32.5%;
}
.info{
  background: linear-gradient(135deg, rgba(225,255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(225,255, 255, 0.18);
  border-radius: 5%;
  position: absolute;
  display: block;
  position: fixed;
  text-align: center;
  width: 35%;
  height: 80%;
  overflow: auto;
}
.p{
  padding: 30px;
  display: block;
}
a{
  text-decoration: none;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 10px;
  color: #203036;
  font-family: AdArSh;
  padding: 10px 0;
  font-size: 22px;
}
a:hover{
  box-shadow: 0px 0px 10px #203036;
}
::-webkit-scrollbar{
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin: 13px 0;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, rgba(225,255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(225,255, 255, 0.18);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #203036;
}
@media(max-width: 1080px){
  .html{
    background-size: 100%;
    background-image: url(img/Untitled-1.png);
  }
  .form{
    padding: 5%;
  }
  .info{
    width: 90%;
    height: 95%;
    border-radius: 40px;
  }
}