body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 37);
    overflow: hidden;
}
.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: rgb(255, 217, 0);
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(119, 113, 23)
}
.earth,
.moon,
.atarod,
.zohre,
.merikh,
.moshtari,
.zohal,
.kamarband,
.oranus,
.nepton{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth::before,
.moon::before,
.atarod::before,
.zohre::before,
.merikh::before,
.moshtari::before,
.zohal::before,
.kamarband::before,
.oranus::before,
.nepton::before{
    content: "";
    position: absolute;
    border-radius: 50%;
}
.atarod{
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 3s linear infinite;
}
.atarod::before{
    top: 1.9em;
    right: 1.9em;
    width: 0.5em;
    height: 0.5em;
    background-color: #82879c;
}
.zohre{
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 7s linear infinite;
}
.zohre::before{
    top: 2.13em;
    right: 2.13em;
    width: 1.5em;
    height: 1.5em;
    background-color: #e24b0b;
}
.earth{
    top: 7.5em;
    left: 7.5em;
    width: 25em;
    height: 25em;
    animation: orbit 12s linear infinite;
}
.earth::before{
    top: 2.85em;
    right: 2.85em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(49, 49, 255);
}
.moon{
    top: 2.05em;
    right: 2.05em;
    width: 3em;
    height: 3em;
    animation: orbit 0.03s linear infinite;
}
.moon::before{
    top: 0.18em;
    right: 0.18em;
    width: 0.4em;
    height: 0.4em;
    background-color: silver;
}
.merikh{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 23s linear infinite;
}
.merikh::before{
    top: 3.85em;
    right: 3.85em;
    width: 1em;
    height: 1em;
    background-color: #dc5e33;
}
.moshtari{
    top: 0.55em;
    left: 0.55em;
    width: 40em;
    height: 40em;
    animation: orbit 142s linear infinite;
}
.moshtari::before{
    top: 3.2em;
    right: 3.2em;
    width: 5em;
    height: 5em;
    background-color: #e6a177;
}
.zohal{
    top: -4em;
    left: -4em;
    width: 50em;
    height: 50em;
    animation: orbit 254s linear infinite;

}
.zohal::before{
    top: 6.05em;
    right: 6.05em;
    width: 2.5em;
    height: 2.5em;
    background-color: #b1977d;
}
.kamarband{
    position: absolute;
    border-style: solid;
    border-color: rgb(192, 192, 192) transparent transparent transparent;
    border-width: 0.2em 0.2em 0 0;
    border-radius: 50%;
}
.kamarband{
    top: 6.55em;
    right: 5.45em;
    width: 3em;
    height: 3em;
}
.oranus{
    top: -6.8em;
    left: -6.8em;
    width: 56em;
    height: 56em;
    animation: orbit 1009s linear infinite;

}
.oranus::before{
    top: 7.15em;
    right: 7.15em;
    width: 2em;
    height: 2em;
    background-color: #c8edf0;
}
.nepton{
    top: -9.3em;
    left: -9.3em;
    width: 61em;
    height: 61em;
    animation: orbit 1979s linear infinite;

}
.nepton::before{
    top: 7.9em;
    right: 7.9em;
    width: 2em;
    height: 2em;
    background-color: #8db0e4;
}
@keyframes orbit{
    to{
        transform: rotate(360deg);
    }
}