@font-face{
    font-family: ISW_l;
    src: url('IRANSansWeb_Light.woff'); /* IE9 Compat Modes */
    src: url('IRANSansWeb_Light.woff') format('embedded-opentype'), /* IE6-IE8 */
            url('IRANSansWeb_Light.woff') format('otf'), /* Super Modern Browsers */
}
@font-face{
    font-family: ISW_m;
    src: url('IRANSansWeb_Medium.woff'); /* IE9 Compat Modes */
    src: url('IRANSansWeb_Medium.woff') format('embedded-opentype'), /* IE6-IE8 */
            url('IRANSansWeb_Medium.woff') format('otf'), /* Super Modern Browsers */
}
@font-face{
    font-family: ISW;
    src: url('fIRANSansWeb.woff'); /* IE9 Compat Modes */
    src: url('IRANSansWeb.woff') format('embedded-opentype'), /* IE6-IE8 */
            url('IRANSansWeb.woff') format('otf'), /* Super Modern Browsers */
}
body {
    background-color: #eee;
    font-weight: 400;
    direction: rtl;
    font-family: ISW_l;
    text-decoration: none;
}
body a{
    text-decoration: none;
}
.my-container {
    margin-top: 35px;
}
@media (min-width: 1200px) {
    .my-container {
        width: 1320px;
    }
}
h1 {
    font-size: 24px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    margin-bottom: 25px;
    margin-top: 20px;
    font-family: ISW_m;
}
h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: ISW_m;
    margin-bottom: 12px;
    color: #000;
    margin-top: 5px;
}
.border-box {
    background-color: #5aa738;
    height: 3px;
    width: 90px;
    margin-bottom: 20px;
}
.title-right-sidbar p {
    font-size: 13px;
    color: #aaa;
    border-bottom: 1px #d1d1d1 solid;
    padding-bottom: 25px;
    margin-bottom: 35px;
}
.form-right-sidbar {
    margin-bottom: 35px;
}
.form-right-sidbar form {
    position: relative;
}
.form-right-sidbar label {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #989898;
}
.search-form {
    padding: 15px 40px;
    height: auto;
}
.fa-search:before {
    content: "\f002";
}
.fa-arrow-circle-left:before {
    content: "\f0a8";
}
.fa-angle-left:before {
    content: "\f104";
}
.bsearch {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #7fbb00;
    border: none;
    background-color: transparent;
    font-size: 18px;
}
.nav-right-sidbar a {
    color: #242424;
    padding: 22px 0;
    border-top: 1px #d1d1d1 solid;
    font-size: 15px;
    display: block;
    transition: 0.1s;
}
.nav-right-sidbar a:hover {
    color: #9b9b9b;
    text-decoration: none;
}
.nav-right-sidbar a i {
    color: #b8b7b7;
    margin-right: 10px;
}
.img-center img {
    width: 100%;
}
.pc-center {
    margin-top: -21px;
    background-color: #fff;
    padding: 0 30px;
    padding-bottom: 30px;
}
.pc-center>a {
    background-color: #7fbb00;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    padding: 12px 24px;
    transition: 0.4s;
    display: inline-block;
}
.pc-center>a:hover {
    text-decoration: none;
    background-color: #6c9e01;
    box-shadow: 1px 1px 3px black;
}
.pi-center p {
    font-size: 14px;
    line-height: 30px;
    color: rgb(87, 87, 87);
    margin-bottom: 30px;
    display: inline-block;
}
.pb-center {
    margin-left: 0;
    margin-right: 0;
}
.pb-center a {
    color: #757575;
    border: #c0c0c0 solid 2px;
    border-radius: 50px;
    padding: 12px 26px;
    font-size: 12px;
    transition: 0.1s;
    float: right;
    text-decoration: none;
}
.pb-center a:hover {
    color: #fff;
    background-color: #c0c0c0;
    text-decoration: none;
}
.pbl-center {
    float: left;
    width: 130px;
    text-align: center;
}
.pbl-left {
    float: left;
    left: 0;
}
.pbl-left>a{
    border: none;
}
.pbl-left>.pbl-center-2{
    color: #5aa738;
}
.pbl-center-1 {
    border-radius: 50px;
    background-color: #eee;
    color: #7b7b7b;
    padding: 12px 26px;
    font-size: 14px;
    display: inline-block;
    width: 130px;
    margin-left: 10px;
    text-align: center;
}
.pbl-center-1:hover {
    background-color: rgb(221, 221, 221);
}
.pbl-center-2 {
    border-radius: 50px;
    background-color: #ebf4e4;
    color: #62a949;
    padding: 12px 26px;
    font-size: 14px;
    display: inline-block;
    width: 130px;
    text-align: center;
}
.pbl-center-2:hover {
    background-color: #62a949;
}
.border-bcenter {
    border-bottom: 1px solid #d1d1d1;
    margin-top: 55px;
}
.posts-box {
    padding-bottom: 10px;
}
.post-info-grid {
    margin-bottom: 30px;
    transition: 0.4s;
}
.post-info-grid img {
    width: 100%;
    height: 70px;
    width: 70px;
    border-radius: 4px;
    transition: 0.4s;
}
.pig-title {
    padding-left: 0;
    padding-right: 0;
    transition: 0.4s;
}
.pig-title a {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    transition: 0.1s ease;
    display: block;
    margin-bottom: 5px;
}
.pig-title a:hover {
    color: #696969;
    text-decoration: none;
}
.pig-title span {
    font-size: 10px;
    color: #b4b4b4;
}
.lp-box {
    margin-bottom: 40px;
}
.lpb-img {
    height: 165px;
}
.lpb-img img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
}
.lpb-info {
    margin-top: -29px;
}
.lpb-info>a {
    background-color: #7fbb00;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
    padding: 7px 17px;
    transition: 0.3s ease;
}
.lpb-info>a:hover {
    background-color: #6c9e01;
    text-decoration: none;
    box-shadow: 1px 1px 3px black;
}
.lpbi-title a {
    font-size: 15px;
    margin-top: 17px;
    display: block;
    color: #000;
    transition: 0.1s ease;
    margin-bottom: 5px;
}
.lpbi-title a:hover {
    color: #696969;
    text-decoration: none;

}
.lpbi-title span {
    font-size: 10px;
    color: #b4b4b4;
}