body{
    background-color: #f2f2f2;
    margin: 0;
    text-decoration: none;
    font-family: "ISW_m";
    direction: rtl;
}
@font-face{
    font-family: 'ISW_l';
    src: url('IRANSansWeb_Light.woff'); /* IE9 Compat Modes */
    src: url('IRANSansWeb_Light.woff') format('embedded-opentype'), /* IE6-IE8 */
            url('IRANSansWeb_Light.woff') format('otf'), /* Super Modern Browsers */
}
@font-face{
    font-family: 'ISW_m';
    src: url('IRANSansWeb_Medium.woff'); /* IE9 Compat Modes */
    src: url('IRANSansWeb_Medium.woff') format('embedded-opentype'), /* IE6-IE8 */
            url('IRANSansWeb_Medium.woff') format('otf'), /* Super Modern Browsers */
}
@font-face{
    font-family: 'ISW';
    src: url('IRANSansWeb.woff'); /* IE9 Compat Modes */
    src: url('IRANSansWeb.woff') format('embedded-opentype'), /* IE6-IE8 */
            url('IRANSansWeb.woff') format('otf'), /* Super Modern Browsers */
}
header{
    height: 80px;
    width: 100%;
    display: block;
}
#header{
    background-color: #363636;
    height: 100%;
    width: 100%;
}
.a1{
    color: #dadadc;
    font-family: "ISW_m", serif;
    font-size: 18px;
    float: right;
    font-weight: bold;
    border-left: solid 1px #dadada;
    padding: 0px 30px;
    margin: 25px;
    margin-right: 80px;
}
.a2{
    color: #dadada;
    font-family: "ISW_m";
    font-size: 14px;
    float: right;
    padding: 0 16px;
    margin-top: 30px;
}
.cantainer{
    background-color: #fff;
    border: solid 1px #cecece;
    width: 750px;
    min-height: 675px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 6%;
    float: right;
    text-align: right;
}
.helo-world{
    width: 100%;
    margin: 0;
}
h1{
    color: #444545;
    margin: 15px 30px;
    font-size: 21px;
    font-family: "ISW_m";
}
p{
    color: #5f5f61;
    text-align: justify;
    margin: 10px 30px;
    font-size: 14px;
}
button{
    background-color: #d94454;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    margin: 10px 30px;
    width: 90px;
    height: 40px;
    font-family: "ISW_m";
}
img{
    width: 20px;
    margin-left: 0;
}
.glyphicon{
    color: #7d7f84;
    font-style: normal;
    text-decoration: none;
    font-family: "ISW_m";
    margin: 0 20px;
    margin-left: 2px;
    display: inline-block;
    
}
.glyphicon-calendar{
    margin-right: 30px;
}
div{
    display: inline-block;
}
.calendar-type{
    display: inline-block;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.comment{
    margin-right: 0;
}
.sidebar{
    width: 355px;
    background-color: #fff;
    border: solid 1px #cecece;
    float: left;
    margin-top: 40px;
    margin-left: 8%;
    padding-bottom: 10px;
}
input{
    font-family: "ISW_m";
    font-size: 12px;
    padding: 10px;
    width: 67.5%;
    height: 15px;
    border: solid 1px #e6e6e6;
    margin-right: 25px;
    margin-top: 35px;
    float: right;
}
.search-box{
    display: inline-block;
    float: left;
    margin-left: 28px;
    margin-top: 35px;
    background-color: #db4453;
    width: 40px;
    height: 36px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
div img{
    margin: 10px 10px;
}
ul{
    padding: 0;
}
.ul-h1{
    font-size: 15px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 40px;
}
li{
    height: px;
    list-style: none;
}
li img{
    display: inline-block;
    margin-right: 30px;
}
li p{
    display: inline-block;
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 10px;
    margin-right: 3px;
    width: 60%;
}
.ul-li-2{
    margin-right: 30px;
}
span{
    display: inline-block;
    background-color: #dadada;
    border-radius: 3px;
    padding: 2px 5px;
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}
.ul-h2{
    font-size: 15px;
    display: block;
    margin-bottom: 0;
    margin-top: 40px;
}
.api{
    margin-right: 30px;
}
.tn{
    margin-right: 30px;
}
@media(max-width: 1000px){
    .cantainer{
        width: 100%;
        margin: auto;
        margin: 10px;
        float: none;
    }
    .sidebar{
        width: 100%;
        margin: auto;
        margin: 10px;
        float: none;
    }
    #header{
        width: 100%;
        margin: 0;
    }
}