*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSans;
  vertical-align: middle;
  transition: 0.5s;
  transition-delay: 0.15s;
}
@font-face {
  font-family: DMSans-R;
  src: url(font/DMSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: DMSans-M;
  src: url(font/DMSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: DMSans-B;
  src: url(font/DMSans-Bold.ttf);
  font-style: normal;
}
body{
  background-color: #f4f7fe;
}
div{
  display: block;
}
.body{
  right: 0;
  float: right;
  width: 100%;
  height: 500px;
  margin-left: 320px;
  
}
.sidebar{
  background-color: #fff;
  width: 320px;
  height: 100%;
  float: left;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
.logo{
  height: 48px;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 26px;
}
.logo:hover{
  height: 55px;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.logo::after{
  transition: 0.5s;
  transition-delay: 0.1s;
}
.dashboard{
  box-sizing: border-box;
  border-top: 1px solid #f4f7fe; 
  padding: 27px 41px 41px 41px;
  margin-bottom: 20px;
  position: relative;
}
a{
  text-decoration: none;
  display: block;
  height: 48px;
  padding: 12px 11px;
  border-radius: 5px;
  margin-bottom: 15.5px;
}
a:hover{
  height: 60px;
  font-size: 27.5px;
}
a:hover .bdl{
  margin-top: 3px;
  width: 30px;
}
.botton:hover{
  background-color: #dde1ec;
  color: #99a4c7;
}
span{
  margin-left: 14px;
  font-family: DMSans-M;
  font-size: 17px;
  color: #A3AED0;
  line-height: 1.42857143;
}
.b-dashboard{
  background-color: #4318ff;
}
.b-dashboard:hover{
  background-color: #2d11a8;
}
.bds{
  color: #fff;
}
.bdl{
  width: 24px;
  float: left;
}
.logout{
  padding: 10px 20px 20px;
}
.logout a{
  margin: 0;
}
