*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSans;
  vertical-align: middle;
  transition: 0.5s;
  transition-delay: 0.15s;
}
@font-face {
  font-family: DMSans-R;
  src: url(font/DMSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: DMSans-M;
  src: url(font/DMSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: DMSans-B;
  src: url(font/DMSans-Bold.ttf);
  font-style: normal;
}
body{
  background-color: #f4f7fe;
}
div{
  display: block;
}
.content{
  right: 0;
  float: right;
  margin-left: 322px;
  min-width: 1039px;
  min-height: 1000px;
  padding: 20px 15px;
  display: block;
  overflow-wrap: break-word
}
.sidebar{
  background-color: #fff;
  width: 320px;
  height: 100%;
  float: left;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
.logo{
  height: 48px;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 26px;
}
.logo:hover{
  height: 55px;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.logo::after{
  transition: 0.5s;
  transition-delay: 0.1s;
}
.dashboard{
  box-sizing: border-box;
  border-top: 1px solid #f4f7fe; 
  padding: 27px 41px 41px 41px;
  margin-bottom: 20px;
  position: relative;
}
a{
  text-decoration: none;
  display: block;
  height: 48px;
  padding: 12px 11px;
  border-radius: 5px;
  margin-bottom: 15.2px;
}
a:hover{
  height: 60px;
  font-size: 27.5px;
}
a:hover .bdl{
  margin-top: 3px;
  width: 30px;
}
.botton:hover{
  background-color: #dde1ec;
  color: #99a4c7;
}
span{
  margin-left: 14px;
  font-family: DMSans-M;
  font-size: 17px;
  color: #A3AED0;
  line-height: 1.42857143;
}
.b-dashboard{
  background-color: #4318ff;
}
.b-dashboard:hover{
  background-color: #2d11a8;
}
.bds{
  color: #fff;
}
.bdl{
  width: 24px;
  float: left;
}
.logout{
  padding: 10px 20px 20px;
}
.logout a{
  margin: 0;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #4318ff;
}
.header{
  margin-top: 35px;
  margin-bottom: 30px;
}
.welcome{
  float: left;
}
.hi{
  font-family: DMSans-B;
  color: #707EAE;
  font-size: 15px;
  margin-left: 12px;
}
h1{
  font-family: DMSans-B;
  color: #2B3674;
  font-size: 36px;
  margin-left: 12px;
  margin-top: 2px;
}
.searchbox{
  padding: 0 10px;
}
.searchform{
  background-color: #fff;
  float: right;
  width: 400px;
  height: 50px;
  padding: 15px 44px;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 20px;
}
.search{
  font-family: DMSans-R;
  font-size: 14px;
  outline: none;
  border: none;
  margin-left: 9px;
}
.searchicon{
  margin-top: 2px;
}
