*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSans;
  vertical-align: middle;
  transition: 0.5s;
  transition-delay: 0.15s;
}
@font-face {
  font-family: DMSans-R;
  src: url(font/DMSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: DMSans-M;
  src: url(font/DMSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: DMSans-B;
  src: url(font/DMSans-Bold.ttf);
  font-style: normal;
}
body{
  background-color: #f4f7fe;
}
div{
  margin: 0;
  display: block;
}
.content{
  right: 0;
  float: right;
  margin-left: 322px;
  min-width: 1039px;
  min-height: 1000px;
  padding: 20px 15px;
  display: block;
  overflow-wrap: break-word
}
.sidebar{
  background-color: #fff;
  width: 320px;
  height: 100%;
  float: left;
  left: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
.logo{
  height: 48px;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 26px;
}
.logo:hover{
  height: 55px;
  transition: 0.5s;
  transition-delay: 0.1s;
  cursor: pointer;
}
.logo::after{
  transition: 0.5s;
  transition-delay: 0.1s;
}
.dashboard{
  box-sizing: border-box;
  border-top: 1px solid #f4f7fe; 
  padding: 27px 41px 41px 41px;
  margin-bottom: 20px;
  position: relative;
}
a{
  text-decoration: none;
  display: block;
  height: 48px;
  padding: 12px 11px;
  border-radius: 5px;
  margin-bottom: 15.2px;
}
a:hover{
  height: 60px;
  font-size: 27.5px;
}
a:hover .bdl{
  margin-top: 3px;
  width: 30px;
}
.botton:hover{
  background-color: #dde1ec;
  color: #99a4c7;
}
span{
  margin-left: 14px;
  font-family: DMSans-M;
  font-size: 17px;
  color: #A3AED0;
  line-height: 1.42857143;
}
.b-dashboard{
  background-color: #4318ff;
}
.b-dashboard:hover{
  background-color: #2d11a8;
}
.bds{
  color: #fff;
}
.bdl{
  width: 24px;
  float: left;
}
.logout{
  padding: 10px 20px 20px;
}
.logout a{
  margin: 0;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
::-webkit-scrollbar-thumb:hover {
  background: #4318ff;
}
.header{
  margin-top: 35px;
  margin-bottom: 32.5px;
  display: block;
  height: 70px;
}
.welcome{
  float: left;
}
.hi{
  font-family: DMSans-B;
  color: #707EAE;
  font-size: 15px;
  margin-left: 12px;
}
h1{
  font-family: DMSans-B;
  color: #2B3674;
  font-size: 36px;
  margin-left: 12px;
  margin-top: 2px;
}
.searchbox{
  padding: 0 10px;
}
.searchform{
  background-color: #fff;
  float: right;
  width: 400px;
  height: 50px;
  padding: 15px 44px;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 20px;
}
.search{
  font-family: DMSans-R;
  font-size: 14px;
  outline: none;
  border: none;
  margin-left: 9px;
}
.searchicon{
  margin-top: 2px;
}
.info{
  width: 1009px;
  height: 100px;
  margin: 0;
  display: inline;
  margin-bottom: 20ppx;
}
.infoform{
  padding-left: 12px;
  padding-right: 4px;
  width: 232px;
  height: 100px;
  display: inline;
}
.infobox{
  background-color: #fff;
  height: 100px;
  width: 232px;
  padding: 22px 22px;
  margin: 0;
  right: 0;
  border-radius: 20px;
  display: inline-block;
}
.infobox:hover {
  box-shadow: 4px 4px 9px 0px #dee7fd;
  cursor: pointer;
}
.infobox h1{
  font-size: 26px;
  margin: 0;
}
.infobox span{
  font-family: DMSans-R;
  font-size: 14px;
  margin: 0;
  margin-bottom: 1px;
}
.infobox img{
  float: left;
  background-color: #F4F7FE;
  padding: 12px;
  margin-right: 18px;
  border-radius: 50%;
}
.cl,.activ{
  background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
}
.activ h1{
  color: #fff;
}
.activ span{
  color: #fff;
}
.cardbox{
  width: 100%;
  padding: 16px 12px;
  display: inline-block;
  margin-top: 4px;
}
.card{
  margin-right: 16px;
  width: 651px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: inline-block;
}
.cardinfo{
  width: 247px;
  padding: 0 10px;
  padding-top: 20px;
  display: inline-block;
}
.cardinfo h1{
  font-size: 34px;
  margin: 0;
  line-height: 48px;
}
.cardinfo span{
  font-size: 16px;
  margin: 0;
  margin: 20px 0;
  display: block;
  line-height: 30px;
}
.cardinfo button{
  color: #fff;
  font-family: DMSans-R;
  font-size: 14px;
  width: 173px;
  height: 52px;
  border-radius: 50px;
  background-color: #4318FF;
  border: none;
  cursor: pointer;
}
.cardinfo button:hover{
  font-size: 15px;
  transition: 1s;
  box-shadow: 3px 3px 3px #707EAE;
}
.div-ci{
  padding-right: 10px;
  float: right;
  width: 100px;
  display: inline-block;
}
.cardimg{
  float: right;
  display: inline-block;
}
.ctrl{
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: inline-block;
  width: 314px;
  height: 100%;
  margin-bottom: 20px;
}
.div-cti{
  display: block;
}
.ctrlimg{
  display: block;
  margin-bottom: 15px;
}
.ctrlinfo{
  width: 230px;
  display: block;
}
.ctrlinfo button{
  color: #fff;
  font-family: DMSans-R;
  font-size: 14px;
  height: 52px;
  border-radius: 50px;
  background-color: #4318FF;
  border: none;
  cursor: pointer;
  margin-top: 31px;
  width: 255.5px;
}
.ctrlinfo button:hover{
  font-size: 15px;
  transition: 1s;
  box-shadow: 3px 3px 3px #707EAE;
}
.ctrlinfo h1{
  font-size: 28px;
  margin: 0;
  line-height: 40px;
}
.ctrlinfo span{
  display: inline-block;
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  font-family: DMSans-R;
}
.lastinfo {
  display: inline-block;
}
.lastinfo form{
  display: inline-block;
  padding: 3px 12px;
  padding-right: 4px;
  padding-bottom: 23px;
}
.trans,.may,.mahkam{
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  width: 315.5px;
  height: 372px;
}
.transtitle{
  font-size: 20px;
  margin: 0;
  margin-bottom: 21px;
  margin-top: 1px;
}
.tib{
  margin-bottom: 32px;
  cursor: pointer;
}
.tib:hover .transimg{
  rotate: 360deg;
  transition: 1s;
}
.ti{
  display: inline-block;
}
.transimg{
  border-radius: 50px;
  background-color: #F6F8FD;
  padding: 12px;
  display: inline-block;
  vertical-align: middle;
}
.tii{
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 190.5px;
  margin-top: 5px;
}
.transh1{
  font-size: 16px;
  margin: 0;
}
.transspan{
  font-size: 12px;
  margin: 0;
}
.va{
  float: right;
}
.va a{
  font-family: DMSans-B;
  font-size: 14px;
  color: #4318FF;
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 24px;
  margin-top: 4px;
}
.va a:hover{
  color: #2d11a8;
}
.va img{
  display: inline-block;
  cursor: pointer;
}
.maytitle{
  font-size: 36px;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 32px;
}
.mii{
  height: 43px;
  margin-bottom: 27px;
  border-left: 5px solid #4318FF;
  padding: 0 0 0 10px;
  cursor: pointer;
}
.mii:hover{
  border-radius: 5px;
  background-color: #f4f7fe;
}
.mayh1{
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;
}
.mayspan{
  font-size: 12px;
  margin: 0;
}
.mhkmavatar{
  text-align: center;
  margin: 14px 0;
}
.mhkmavatar img{
  background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.mhkmtitle{
  text-align: center;
}
.mhkmtitle h1{
  font-size: 24px;
  margin: 0;
}
.mhkmtitle span{
  font-size: 14px;
  margin: 0;
}
.mhkminfo{
  display: inline-block;
  padding: 40px 11px 11px;
}
.mhkminfo div{
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 5px;
  width: 75px;
  cursor: pointer;
}
.mhkminfo div:hover{
  background-color: #f4f7fe;
  border-radius: 5px;
}
.mis{
  font-size: 12px;
  margin: 0;
}
.mih1{
  font-size: 24px;
  margin: 0;
}
